.table-container {
  width: 95vw;

  .table-header {
    display: flex;
    justify-content: space-between;
    
    .filter-field {
      width: 40%;
    }
  }

  .mat-table {
    max-height: 65vh;
    overflow-y: auto
  }
}