<div class="login-container">
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="login()">
      <div class="credential-container">
        <mat-form-field>
          <input matInput class="username" name="username" placeholder="Username" required [(ngModel)]="user.username" #username>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput class="password" name="password" placeholder="Password" type="password" required [(ngModel)]="user.password" #password>
        </mat-form-field>
      </div>
  
      <div class="action-container">
        <button mat-raised-button class="cancel" (click)="clear()">Cancel</button>
        <button mat-raised-button class="create" [ngClass]="{success: loginForm.form.valid}" [disabled]="!loginForm.form.valid">Create</button>
      </div>
    </form>
  </div>